body {    
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: 1c63bf;
}

.Links {
    position: relative;
    padding: 9px 0px 50px 0px;   
    top: -9px;
    margin-bottom: 0px;
    font-size: 16px;
    background-color: #1c63bf;
    background-size: cover;
}
.Links,ul,li {
    display: inline;
    padding-left: 20px;
    color: #ededed;
} 
.Links,ul,li,a {
    text-decoration: none;
    color: #ededed;
}
#Company {
    float: left;
    padding-left: 20px;
}
#Contact {
    float: right;
    padding-right: 20px; 
}

.Headings {
    background-image: url(Images/Light%20Sky.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100px;
    background-repeat: no-repeat;
    padding: 0px 20px 0px 20px;
    position: relative;
    top: -150px;
}
.Headings h1{
    color: #ededed;
    text-shadow:1px 1px grey; 
    font-size: 60px;
    margin: 180px 0px 0px 100px;
    text-align: left;
}

.Intro {
    background-color: #ededed;
    height: 500px;
    margin-top: -175px;
}

#Info {
    font-size: 21px;
    color: #ededed;
    text-align: left;
    margin-left: 200px;
    margin-right: 100px;
}
#Bird {
    float: left;
}
