body {
    background-color: #1c63bf;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    /* #1c63bf: Blue, #ededed: Silver*/ 
}

.Links {
    position: relative;
    padding: 9px 0px 50px 0px;   
    top: -9px;
    margin-bottom: 0px;
    font-size: 16px;
}
.Links,ul,li {
    display: inline;
    padding-left: 20px;
    color: #ededed;
} 
.Links,ul,li,a {
    text-decoration: none;
    color: #ededed;
}
#Company {
    float: left;
    padding-left: 20px;
}
#Contact {
    float: right;
    padding-right: 20px; 
}

#Eagle, #ColorSky, #Cardinal {
    height: 512px;
    width: 449px;
    margin: 5px -2px 0px -2px;
}

.Headings {
    background-image: url(Images/Light%20Sky.jpg);
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
    padding: 0px 20px 0px 20px;
    position: relative;
    top: 5px;
}
.Headings h1, h3 {
    color: #ededed;
    text-shadow:1px 1px grey; 
}
.Headings h3 {
    display: inline;
    margin-left: 25;
}
.Headings h1 {
font-size: 40px;
}

.Information {
    background-image: url(Images/IntenseSky.jpg);
    background-size: cover;
    height: 560px;
    background-repeat: no-repeat;
    margin-top: -24px;
    font-size: 30px;
    background-attachment: fixed
    }
.Information p {
    margin-left: 10px;
    color: #ededed;
    margin-top: -27px;
    text-align: left;
}
#Number {
    padding-left: 80px;
}
#Eye {
    padding-left: 160px;
}
#Intro {
    color: #ededed;
    margin-top: 20px;
}

.New {
    background-color: white;
    margin-top: -30px;
    height: 500px;
}
#Debut, #Pen {
    display: inline;
} 
.New h1 {
    color: #1c63bf;
    font-size: 45px;
}
#Debut {
    color: red;
    float: left;
}
#Pen {
    margin-left: -850px;
}
#KaKa {
    margin-top: -80px;
    margin-left: 100px;
    color: red;
}
.New h2 {
    float: right;
    color: #1c63bf;
    margin: 20px 80px 15px 80px;
    font-size: 40;
}
.New p {
    color: gold;
    text-align: left;
    margin-top: -13px;
    margin-right: 50px;
    margin-left: 50px;
}
#LTE, #Mystery {
    display: inline;
}
#Mystery {
    margin-right: -685px;
    height: 200px;
    width: 150px;
}
#KoKo {
    text-align: right;
    margin-top: -110px;
    margin-right: 100px;
}
#Ender {
    text-align: center;
    color: 1c63bf;
    margin-top: 70px;
    font-size: 20px;
}